<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Summarize this!</title>

</head>

<body>

    <header>
        <h1>Summarize This!</h1>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="URL for the article" required>
                <input type="submit" name="" value="summarize" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong id="title"></strong>
                    <div id="results"></div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>